In [13]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [14]:
# Load train and test sets

X_train = pd.read_csv("./data/X_train.csv")
X_test = pd.read_csv("./data/X_test.csv")
y_train = pd.read_csv("./data/y_train.csv")
y_test = pd.read_csv("./data/y_test.csv")

In [12]:
X_train.head()

,gender,highest_education,poverty,age,disability,num_of_prev_attempts,studied_credits,sum_click
0,0.0,0.50,1.0,0.0,0.0,0.000000,0.05,0.125404
1,1.0,0.50,1.0,0.0,0.0,0.000000,0.10,0.130624
2,1.0,0.25,0.0,0.0,0.0,0.000000,0.05,0.026597
3,1.0,0.25,1.0,0.0,1.0,0.000000,0.15,0.045447
4,1.0,0.50,1.0,0.0,1.0,0.166667,0.05,0.059574

In [16]:
y_train.head()

   final_result
0           1.0
1           1.0
2           0.0
3           0.0
4           0.0

In [ ]:
# Choose an individual sensitive feature (should be binary)

sensitive_feature = "gender"

In [ ]:
# Fit a classifier

clf = LogisticRegression(random_state=0)
clf.fit(X_train, y_train)

In [ ]:
# Separate X_test and y_test according to the sensitive feature
X_test_sf0, X_test_sf1, y_test_sf0, y_test_sf0 = separate_test_sets()